/* File manager uploading file popup styles */
.file-upload .drop-area {
  outline: 5px dashed #ccc;
  width: 100%;
  height: 86px;
  line-height: 86px;
  text-align: center;
}

.file-upload .drop-area.hovered {
  outline-color: #000;
}

.file-upload .uploading-files {
  margin-top: 20px;
}

.file-upload .uploading-files:empty {
  margin-top: 0;
}

.file-upload .uploading-files .uploading-file .progress-group .progress.sm {
  margin-bottom: 0;
}

.file-upload .uploading-files .uploading-file .progress-message {
  height: 25px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
/* File manager uploading file popup styles */

.trumbowyg-dropdown {
  width: auto;
  max-width: 260px;
}

.pictures-list .picture {
  width: 100px;
  height: 100px;
  font-weight: bold;
  font-size: 48px;
  color: #aaa;
  border: 2px solid;
  display: inline-block;
  margin-right: 5px;
  box-sizing: border-box;
  text-align: center;
  line-height: 96px;
  cursor: pointer;
  transition: all 0.3s 0s;
  position: relative;
}

.pictures-list .picture .icon-delete {
  position: absolute;
  top: 2px;
  right: 2px;
  transition: all 0.3s 0s;
  opacity: 0.2;
}

.pictures-list .picture:hover .icon-delete {
  opacity: 1.0;
}

.pictures-list .picture IMG {
  width: 100%;
  height: 100%;
  object-fit: contain;
  vertical-align: top;
}

.pictures-list .picture.empty {
  border-style: dashed;
}

.pictures-list .picture.empty:hover {
  color: #333;
}

.pictures-list .picture.selected {
  border-color: #ff0808;
}

.settings .currency LABEL {
  display: block;
}

.settings .currency LABEL > SPAN {
  vertical-align: middle;
  margin-left: 5px;
}

.related-products {
  max-height: 400px;
  overflow-y: auto;
  overflow-x: hidden;
  border: 1px solid #ccc;
  padding: 12px 0;
}

.related-products .media-body {
  padding-right: 12px;
}

.related-products .media-body .clearfix {
  border-bottom: 1px solid #ccc;
}

.related-products .related IMG {
  width: 60px;
  height: 60px;
  object-fit: cover;
}

.category-tree .active {
  color: #c00;
  font-weight: bold;
}
