.placeholder {
  border: 1px solid green;
  background-color: white;
  -webkit-box-shadow: 0px 0px 10px #888;
  -moz-box-shadow: 0px 0px 10px #888;
  box-shadow: 0px 0px 10px #888;
}
.tile {
  height: 100px;
}
.grid {
  margin-top: 1em;
}
.sortable {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.sortable OL {
  list-style-type: none;
}
.sortable LI {
  cursor: pointer;
}
.selected .box.box-solid.box-primary > .box-header {
  background: #f39c12;
  background-color: #f39c12;
}
.selected .box.box-solid.box-primary {
  border: 1px solid #f39c12;
}
.select-list .select-list-icon-add {
  display: block;
  width: 34px;
  height: 34px;
  border: 1px dashed #ccc;
  line-height: 34px;
  text-align: center;
  margin: 5px 0 0;
}
.select-list .with-icon {
  width: calc(100% - 37px);
}
.category-icon {
  width: 60px;
  height: 60px;
  border: 2px dashed #ccc;
  text-align: center;
  line-height: 57px;
  color: #ccc;
  font-size: 24px;
  transition: all 0.3s 0s;
}
.category-icon:hover {
  color: #777;
}
.questions-library .question:hover {
  cursor: pointer;
  text-decoration: underline;
}
.questions-library .question.selected {
  font-weight: bold;
}
