<!DOCTYPE html>
<html lang="en">
    <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <!-- CSRF Token -->
      <meta name="csrf-token" content="YUvER99EmeSmb28u13WCk4Bx8cTHK1RdV07zQuwo">

      <title>Hello friend API</title>

      <!-- Tell the browser to be responsive to screen width -->
      <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
      <!-- Bootstrap 3.3.7 -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <!-- Font Awesome -->
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
      <!-- Theme style -->
      <link rel="stylesheet" href="http://192.168.0.7:8000/css/AdminLTE.min.css">
      <!-- AdminLTE Skins. Choose a skin from the css/skins
           folder instead of downloading all of them to reduce the load. -->
      <link rel="stylesheet" href="http://192.168.0.7:8000/css/skins/_all-skins.min.css">

      <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
      <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
      <![endif]-->

      <!-- Google Font -->
      <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

      <!-- jQuery -->
      <script type="text/javascript" src="http://192.168.0.7:8000/js/jquery.min.js"></script>

      <!-- jQuery UI -->
      <script type="text/javascript" src="http://192.168.0.7:8000/js/jquery-ui.min.js"></script>

      <!-- Chart.js -->
      <script type="text/javascript" src="http://192.168.0.7:8000/js/raphael.min.js"></script>
      <script type="text/javascript" src="http://192.168.0.7:8000/js/morris.min.js"></script>
      <link rel="stylesheet" href="http://192.168.0.7:8000/css/morris.css">

      <!-- Trumbowyg -->
      <!-- <link rel="stylesheet" href="https://cdn.rawgit.com/Alex-D/Trumbowyg/v2.9.2/dist/ui/trumbowyg.min.css"> -->
      <!-- <script type="text/javascript" src="https://cdn.rawgit.com/Alex-D/Trumbowyg/v2.9.2/dist/trumbowyg.min.js"></script> -->

      <!-- iCheck -->
      <link rel="stylesheet" href="http://192.168.0.7:8000/plugins/iCheck/all.css">
      <script type="text/javascript" src="http://192.168.0.7:8000/plugins/iCheck/icheck.min.js"></script>
  </head>
  <body class="hold-transition skin-blue sidebar-mini">
      <div class="wrapper">
          <header class="main-header">
            <!-- Logo -->
            <a href="/admin" class="logo">
                <!-- mini logo for sidebar mini 50x50 pixels -->
                <span class="logo-mini"><b>H</b>F</span>
                <!-- logo for regular state and mobile devices -->
                <span class="logo-lg"><b>Hello</b>Friend</span>
            </a>
            <!-- Header Navbar: style can be found in header.less -->
            <nav class="navbar navbar-static-top">
                <!-- Sidebar toggle button-->
                <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <!-- Navbar Right Menu -->
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        <!-- User Account: style can be found in dropdown.less -->
                        <li class="dropdown user user-menu">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                              <!--<img src="dist/img/user2-160x160.jpg" class="user-image" alt="User Image">-->
                                <span class="hidden-xs"></span>
                            </a>
                        </li>
                        <!-- Control Sidebar Toggle Button -->
                        <li>
                            <a href="/admin/logout"><i class="fa fa-sign-out"></i></a>
                        </li>
                    </ul>
                </div>
            </nav>
          </header>

          <!-- Left side column. contains the logo and sidebar -->
          <aside class="main-sidebar">
            <!-- sidebar: style can be found in sidebar.less -->
            <section class="sidebar">
                <!-- sidebar menu: : style can be found in sidebar.less -->
                <ul class="sidebar-menu" data-widget="tree">
                    <li class="header">MAIN NAVIGATION</li>
                    <li><a href="/admin/admins"><i class="fa fa-user-secret"></i> <span>Admin Users</span></a></li>
                    <li><a href="/admin/users"><i class="fa fa-users"></i> <span>Application Users</span></a></li>
                    <li><a href="/admin/pages"><i class="fa fa-wordpress"></i> <span>Site Pages</span></a></li>
                    <li><a href="/admin/questionnaire"><i class="fa fa-address-card"></i> <span>Questionnaire</span></a></li>
                    <li><a href="/admin/faqs"><i class="fa fa-question-circle"></i> <span>FAQs</span></a></li>
                    <li><a href="/admin/testimonials"><i class="fa fa-star-half-o"></i> <span>Testimonials</span></a></li>
                    <li class="treeview">
                        <a href="#">
                            <i class="fa fa-line-chart"></i>
                            <span>Reports</span>
                            <span class="pull-right-container">
                                <i class="fa fa-angle-left pull-right"></i>
                            </span>
                        </a>
                        <ul class="treeview-menu">
                            <li><a href="/admin/report/users"><i class="fa fa-circle-o"></i> User Registrations</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Report #2</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Report #3</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Report #4</a></li>
                            <li><a href="#"><i class="fa fa-circle-o"></i> Report #5</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
            <!-- /.sidebar -->
        </aside>
                    <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
              <h1>
                 Questionnaire
                 <!--<small>Version 2.0</small>-->
              </h1>
              <ol class="breadcrumb">
                <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                <li class="active">Dashboard</li>
              </ol>
            </section>

            <!-- Main content -->
            <section class="content" id="app">

            </section>
            <!-- /.content -->
          </div>
          <!-- /.content-wrapper -->

          <footer class="main-footer">
              <div class="pull-right hidden-xs">
                  <b>Version</b> 1.0.0
              </div>
              <strong>Copyright &copy; 01.24.2018 <a href="https://vizualtech.com/" target="_blank">Vizualtech</a>.</strong> All rights reserved.
          </footer>
      </div>
      <!-- ./wrapper -->

      <script type="text/javascript" src="http://192.168.0.7:8000/js/adminlte.js"></script>
      <script type="text/javascript" src="http://192.168.0.7:8000/js/jquery.mjs.nestedSortable.js"></script>
      <script type="text/javascript" src="http://192.168.0.7:8000/js/main.js" defer></script>
      <script>
        window.questionnaire = {
          storagePath: 'http://192.168.0.7:8000/storage/',
          fileUpload: 'http://192.168.0.7:8000/file/upload',
          podcastSync: 'http://192.168.0.7:8000/podcast/set/{id}',
          podcastFetch: 'http://192.168.0.7:8000/podcast/get/{id}',
          podcastsFetch: 'http://192.168.0.7:8000/podcast/list',
          customTypes: {
            children: {
              id: 16,
              name: 'My Kids',
              questions: [
                {
                  id: 12,
                  name: 'Number of children',
                  type: 1
                },
                {
                  id: 13,
                  name: 'Age category of children',
                  type: 2
                },
                {
                  id: 14,
                  name: 'Special needs',
                  type: 2
                },
              ]
            },
            location: {
              id: 15,
              name: 'Location',
              questions: [
                {
                  id: 9,
                  name: 'City',
                  type: 0
                },
                {
                  id: 10,
                  name: 'State',
                  type: 0
                },
                {
                  id: 11,
                  name: 'Zip Code',
                  type: 0
                },
              ]
            }
          }
        };
      </script>

      <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
        <script src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>" defer></script>
      <% } %>
  </body>
</html>
